

@import 'chnapflat/chnapflat';

.hobbys-content {
    min-height: 34px;
}

.colonne .but-group .but:first-child:last-child {
    width: 100%;
}

.page-content {
    h1, h2, h3 {
        &:first-child {
            margin-top: 0;
        }
    }
}

.avatar {
    min-width: 50px;
    min-height: 50px;
}

.univ-logo {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.univ-logo-front {
    max-width: 100%;
    max-height: 140px;
    height: auto;
}

.list-user {

    .list-user-row {
        display: block;
        color: initial;
        padding: 0;
        height: 50px;
        line-height: 50px;

        &>* {
            height: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &>* {
                display: inline;

                &.icon-bloc {
                    padding: 5px;
                }
            }

            &:not(.user-avatar) {
                text-align: center;
            }
        }

        .user-name {

            .user-lastname {
                text-transform: uppercase;
                font-weight: bold;
            }

            .user-firstname {
                text-transform: capitalize;
                font-weight: bold;
            }

            .user-username {
                font-size: .9em;
                color: #555;
            }
        }

        .user-category {
            /*padding: 11px 0;*/
        }

        .user-avatar {
            padding-left: 0;

            img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                vertical-align: top;
            }
        }

        &:hover {
            .user-name {
                text-decoration: underline;
            }
        }
    }

    .list-user-head {
        font-weight: bold;
        height: 30px;
        line-height: 30px;
    }

    &.w-avatar .list-user-row>*:nth-child(odd):not(:first-child),
        &:not(.w-avatar) .list-user-row>*:nth-child(odd) {
        background: rgba($bg_dark_color, 0.05);
    }
}

a.bloc {
    color: initial;
    display: block;

}

.pagination>li>a, .pagination>li>span {
    color: $color_primary;
    background-color: $bg_dark_color;
    border: none;

    &:hover, &:focus {
        color: $color_primary;
        background-color: darken($bg_dark_color, 3%);
    }
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $color_primary;
}

.icon-bloc {
    position: relative;
    display: inline-block;
    color: $color_dark_main;
    background: $bg_dark_color;
    padding-left: $ajax_bloc_pad;
    padding-right: $ajax_bloc_pad;
    font-weight: lighter;
    font-size: .8em;

    .spinner-box {
        margin-left: $ajax_bloc_pad;

        .glyphicon {
            @include wout-prefix(animation-name, opa);
            @include wout-prefix(animation-duration, $transition_dur);
        }
    }
}

.bloc {
    text-overflow: clip;
    overflow: hidden;
    word-wrap: break-word;
}

#footer {
    padding: 15px 0;
}