{% extends 'CVThequeBundle::layout.html.twig' %}
{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Ajouter une annonce</h2>
  {% include "CVThequeBundle:Advertisement:form.html.twig" %}
{% endblock %}