{#{% extends 'CVThequeBundle::layout.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}
    Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Ajouter une annonce</h1>
        {#<div class="lead"></div>#}
    </div>
{% endblock %}

{% block content %}

    <script>var FORM = 'advertisement';</script>

    {% include "CVThequeBundle:Advertisement:form.html.twig" %}
{% endblock %}
