{#{% extends "CVThequeBundle::layout.html.twig" %}#}
{% extends '::base.html.twig' %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Modifier une annonce</h1>
        {#<div class="lead"></div>#}
    </div>
{% endblock %}

{% block content %}

    <script>var FORM = 'cvtheque_advertisement_edit';</script>

    {% include "CVThequeBundle:Advertisement:form.html.twig" %}

    <div class="form-group">
        <a href="{{ path('show_advert', {'slug': advertisement.slug}) }}" class="but d-block">
            Retour à l'article
        </a>
    </div>
{% endblock %}