{% extends '::base.html.twig' %}

{% block title %}
    Candidatures
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Liste des candidatures</h1>
        {#        <div class="lead"></div>#}
    </div>
{% endblock %}

{% block content %}

    <div class="list-user container">

        <div class="bloc list-user-head list-user-row row">
            <div class='col-md-9'>
                Nom d'utilisateur
            </div>
            <div class='col-md-3'>
                Date d'envoi
            </div>
        </div>

        {% for application in applications %}

            <a class="bloc list-user-row row" href="{{ path('application_show', { 'id': application.id }) }}">
                <div class='col-md-9'>
                    {{ application.candidate.username }}
                </div>
                <div class='col-md-3'>
                    {% if application.created %}Créé le {{ application.created|date('Y-m-d H:i:s') }}{% endif %}
                </div>
            </a>

        {% else %}
            <div class="bloc list-user-row row text-center">
                Il n'y a aucune candidature
            </div>
        {% endfor %}
    </div>

{% endblock %}
