{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des candidatures</h1>

    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Date d'envoie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.candidate.username }}</td>
                <td>{% if application.created %}{{ application.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('application_show', { 'id': application.id }) }}">Afficher</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_new') }}">Create a new application</a>
        </li>
    </ul>
{% endblock %}
