<div class="fos_user_user_show">

    {% if user.id == app.user.id %}
        <a href="{{ path('fos_user_profile_edit') }}" class="but">
            Modifier le profil administrateur
        </a>

        <a href="{{ path('mg_user_profile_delete') }}" class="but error">
            Supprimer le profil administrateur
        </a>

    {% endif %}
    <p>{{ 'profile.show.created'|trans({'%date%': user.created|localizeddate('full', 'none')}, 'MGUserBundle') }}</p>
    <p>{{ 'profile.show.updated'|trans({'%date%': user.created|localizeddate('full', 'none')}, 'MGUserBundle') }}</p>    
</div>