{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends '::base.html.twig' %}

{% block bandeau %}
    <div class="row">
        <h1>Ajout & modification du CV</h1>
        {#<div class="lead"></div>#}
    </div>
{% endblock %}

{% block content %}
    <div class="bloc">
 {{ form_start(form, { 'action': path('mg_applicant_profile_cv_upload'), 'attr': { 'class': 'mg_applicant_profile_cv_upload' } }) }}
        {{ form_widget(form) }}
        <div class="field">
            <input type="submit" value="{{ 'form.cv.submit'|trans({}, 'MGUserBundle') }}" class="but primary" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}