{# src/MG/UserBundle/Resources/views/Profile/delete.html.twig #} 
{#{% extends "MGUserBundle::layout.html.twig" %}#}
{% extends '::base.html.twig' %}

{% block bandeau %}
    <div class="row">
        <h1>Suppression du profil</h1>
        <div class="lead">Action irréversible. Êtes-vous sûr de ce que vous faites ?</div>
    </div>
{% endblock %}

{% block content %}
    <form class="" action="{{ path('mg_user_profile_delete') }}" method="post">
        <a href="{{ path('fos_user_profile_show') }}" class="but">
            Retour au profil
        </a>
        <input type="submit" value="Confirmer la suppression" class="but error" />
        {{ form_rest(form) }}
    </form>
{% endblock %}