{#{% extends 'CVThequeBundle::layout.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}
    Création d'un domaine d'étude
{% endblock %}

{% block bandeau %}
    <div class="row">
        <h1>Création d'un domaine d'étude</h1>
    </div>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class='bloc'>
        {{ form_widget(form) }}
    </div>
    <div class='form-group'>
        <input type="submit" value="Créer" class='but primary d-block' />
    </div>
    {{ form_end(form) }}

    <div class='form-group'>
        <a href="{{ path('admin_category_index') }}" class='but'>Retourner à la liste des catégories</a>
    </div>

{% endblock %}
